<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>    
    <title>VanHotel</title>
    <!-- 
      Reference HTML Template: https://templatemo.com/tm-564-plot-listing 
     -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
    <!-- Additional CSS Files -->
    <link rel="stylesheet" th:href="@{/assets/css/fontawesome.css}">
    <link rel="stylesheet" th:href="@{/assets/css/templatemo-plot-listing.css}">
    <link rel="stylesheet" th:href="@{/assets/css/animated.css}">
    <link rel="stylesheet" th:href="@{/assets/css/owl.css}">
  
    <!-- Scripts -->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/assets/js/owl-carousel.js}"></script>
    <script th:src="@{/assets/js/animation.js}"></script>
    <script th:src="@{/assets/js/imagesloaded.js}"></script>
    <script th:src="@{/assets/js/custom.js}"></script>

</head>

<body>
    <div class="container text-center">
        <div th:if="${isAdmin}">
            <h1>Create Room -- Administrator</h1>
        </div>
        <div th:if="!(${isAdmin})">
            <h1 th:text="'Create Room in Hotel: ' + ${hotelName}"></h1>
        </div>
        <form th:action="@{/rooms/create}" th:object="${room}" method="post" style="max-width: 600px; margin: 0 auto;">
            <div class="m-3">

                <div th:if="${isAdmin}">
                    <div class="form-group row">
                        <label class="col-4 col-form-label">HotelName: </label>
                        <div class="col-8">
                            <input type="text" name="hotelName" class="form-control" required minlength="1" maxlength="128" />
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-4 col-form-label">Room Name: </label>
                    <div class="col-8">
                        <input type="text" th:field="*{name}" class="form-control" required minlength="2" maxlength="64" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-4 col-form-label">Price: </label>
                    <div class="col-8">
                        <input type="number" th:field="*{price}" class="form-control" required />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-4 col-form-label">Number of Beds: </label>
                    <div class="col-8">
                        <input type="number" th:field="*{beds}" class="form-control" required />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-4 col-form-label">Maximum People: </label>
                    <div class="col-8">
                        <input type="number" th:field="*{people}" class="form-control" required />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-4 col-form-label">Size: </label>
                    <div class="col-8">
                        <input type="number" th:field="*{size}" class="form-control" required />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-4 col-form-label">Avatar URL (Optional): </label>
                    <div class="col-8">
                        <input type="text" th:field="*{avatar}" class="form-control" maxlength="256" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-4 col-form-label">Details: </label>
                    <div class="col-8">
                        <textarea th:field="*{details}" class="form-control" required rows="4"></textarea>
                    </div>
                </div>

                <div>
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </div>
        </form>
    </div>
</body>

</html>